@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans text-gray-800 bg-white;
  }
} */

@layer base {
  :root {
    --header-height: 4.5rem; /* 72px */
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans text-gray-800 bg-white;
  }
}


@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .btn {
    @apply inline-flex items-center px-6 py-3 rounded-lg font-medium transition-colors duration-200;
  }

  .btn-primary {
    @apply btn bg-primary-500 text-white hover:bg-primary-600;
  }

  .btn-outline {
    @apply btn border-2 border-primary-500 text-primary-500 hover:bg-primary-50;
  }
}


